@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.event{
    height: 100vh;
    background-color: lightcyan;
    font-family: 'Roboto Condensed', sans-serif;
}

.sec {
    width: 100%;
    height: 100vh;
    background: url(bg.jpg); 
    background-size: cover;
}

.sec .leftBox {
    width: 60%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

.sec .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding: 40px;
    transition: .5s;
}

.sec .leftBox .content:hover {
    background: #e91e63;
}

.sec .leftBox .content .title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
} 

.sec .leftBox .content .parag {
    margin: 10px 0 0;
    padding: 0;
} 

.sec .events {
    position: relative;
    width: 80%;
    height: 50%;
    background: rgba(0, 0, 0, .5);
    float: right;
    box-sizing: border-box;
}

.sec .events .uls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;   
}

.sec .events .uls .lis {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 200px;
    /* margin: 15px 0; */
}

.sec .events .uls .lis .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s
}

.sec .events .uls .lis:hover .time{
    background: #e91e63;
}

.sec .events .uls .lis .time .h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 38px;
    line-height: 30px;
}

.sec .events .uls .lis .time .h2 .span{
    font-size: 30px;

}

.sec .events .uls .lis .details {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}

.sec .events .uls .lis .details .h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.sec .events .uls .lis .details .parag {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

.sec .events .uls .lis .details .a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;
}

.sec .events .uls .lis .details .a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

@media (max-width: 991px) {
    .sec{
        height: 100%;
        background-position: center;
    }

    .sec .leftBox {
        width: 100%;
        height: auto;
        float: none;
        padding: 20px;
    }

    .sec .events {
        width: 100%;
        height: auto;
        background: transparent;
        float: none;
    }

    .sec .leftBox .content {
        padding: 20px;

    }

    .sec .leftBox .content .title {
        font-size: 30px;
    }

    .sec .events .uls {
        position: relative;
        transform: translateY(0px);
        padding: 0 20px 20px;
    }

    .sec .events .uls .lis {
        height: auto;
        background: rgba(255, 255, 255, .9);
    }

    .sec .events .uls .lis .time {
        width: 80px;
        height: 80px;
        padding: 0;
    }

    .sec .events .uls .lis .time .h2 {
        font-size: 30px;
        line-height: 24px;
    }

    .sec .events .uls .lis .time .h2 .span {
        font-size: 20px;
    }

    .sec .events .uls .lis .details {
        width: 100%;
        float: none;
        padding-left: 100px;
        background: transparent;
    }

    .sec .events .uls .lis .details .a {
        padding: 5px 10px;
    }
}